# 넘파이 기초

In [1]:
import numpy as np 
import pandas as pd

In [96]:
data = [
    [100,80,70,90],
    [120,110,100,110]
]

In [97]:
type(data)

list

In [98]:
arr = np.array(data)

In [99]:
type(arr)

numpy.ndarray

In [100]:
arr[0,0] #행 열 순서대로 접근

100

In [101]:
arr[0,3]

90

In [102]:
arr[0:1] #컬럼 가져오기 [:, ]

array([[100,  80,  70,  90]])

In [103]:
arr[:,3] #첫번째 컬럼을 가져와라 세로 줄이 컬럼

array([ 90, 110])

# Series 기초 pd.Series

In [104]:
arr = [0,1,2,3]
data = [100, 200, 300]
index = ["월","화","수"]

In [124]:
data = [100, 200, 300]
index = ["월","화","수"]
s = pd.Series(data,index)
s

월    100
화    200
수    300
dtype: int64

In [120]:
s.index #왼쪽값(인덱스) 가져올때는 s.index

Index(['월', '화', '수'], dtype='object')

In [121]:
s.values #값을 가져올 때는 values

array([100, 200, 300], dtype=int64)

In [122]:
s.array # 값을 가져옴

<PandasArray>
[100, 200, 300]
Length: 3, dtype: int64

In [129]:
index = ["메로나","누가바","ㅃㅃㅋ"]
price = [500,800,200]

c = pd.Series(price,index)
c

array([500, 800, 200], dtype=int64)

In [130]:
c.index

Index(['메로나', '누가바', 'ㅃㅃㅋ'], dtype='object')

In [131]:
c.values

array([500, 800, 200], dtype=int64)

In [132]:
c.array

<PandasArray>
[500, 800, 200]
Length: 3, dtype: int64

# Series 인덱싱과 슬라이싱 
# s.iloc 행번호 인덱싱 
# s.loc index로 인덱싱
# s[] 대괄호 인덱싱
# 딕셔너리 key : value 시리즈 보이지않는 행: index : value

In [175]:
data = [100, 200, 300]
index = ["월","화","수"]
s = pd.Series(data,index)
print(s)

월    100
화    200
수    300
dtype: int64

In [176]:
print(s)
print(s.iloc[0]) #행번호 0번의 값 100 가져옴
print(s.iloc[1]) # 200
print(s.iloc[2]) # 300

월    100
화    200
수    300
dtype: int64
100
200
300

In [177]:
print(s)
print(s.loc["월"]) #월요일에 해당하는 값 100
print(s.loc["화"]) # 200
print(s.loc["수"]) # 300

월    100
화    200
수    300
dtype: int64
100
200
300

In [178]:
print(s)
print(s["월"]) #인덱스 월요일의 값 100
print(s["화"]) 
print(s["수"])
print(s[0]) # 행번호 0번의 값 100
print(s[1])
print(s[2])

월    100
화    200
수    300
dtype: int64
100
200
300
100
200
300

In [180]:
print(s)
print(s.iloc[0:2]) #행번호로 0부터 2-1 까지 출력 월 화 100 200
print(s.iloc[0:3])  # 0부터 3-1 까지

월    100
화    200
수    300
dtype: int64
월    100
화    200
dtype: int64
월    100
화    200
수    300
dtype: int64

In [184]:
print(s)
print(s.loc["월":"화"]) #시작 인덱스 : 끝 인덱스 iloc랑 다르게 -1 안하고 끝까지 포함함 
print(s.loc["화":"수"])
print(s.loc["월":"수"])

월    100
화    200
수    300
dtype: int64
월    100
화    200
dtype: int64
화    200
수    300
dtype: int64
월    100
화    200
수    300
dtype: int64

# 연속적이지 않은 여러 값을 인덱싱 [[인자1,인자2]]

In [190]:
print(s)
print(s .iloc[[0,2]])
print(s.loc[["월","수"]])

월    100
화    200
수    300
dtype: int64
월    100
수    300
dtype: int64
월    100
수    300
dtype: int64

# Series 추가/삭제/수정
# s.loc[인덱스] = 값 추가
# s.drop(인덱스)  삭제 ** ()임

In [7]:
print(s)
s.loc["목"] = 400
print(s)
s2 = s.drop("목")
print(s2)

월    100
화    200
수    300
목    400
dtype: int64
월    100
화    200
수    300
목    400
dtype: int64
월    100
화    200
수    300
dtype: int64

In [4]:
data = [100, 200, 300]
index = ["월","화","수"]
s = pd.Series(data,index)
s1 = s.drop("월")
print(s1)

화    200
수    300
dtype: int64

In [10]:
data = [100, 200, 300]
index = ["월","화","수"]
s = pd.Series(data,index)

s.iloc[0] = 1000 #행번호로 밸류값 수정
s.loc["화"] = 2000 #인덱스로 밸류값 수정
s[2] = 3000
print(s)

월    1000
화    2000
수    3000
dtype: int64

In [15]:
data = [60000, 83000, 170000]
index =["삼성","하이닉스","셀트리온"]
a = pd.Series(data=data,index=index)
a

삼성       60000
하이닉스     83000
셀트리온    170000
dtype: int64

In [21]:
a["일동제약"] = 40000 #추가
print(a)

삼성       60000
하이닉스     83000
셀트리온    170000
일동제약     40000
신풍제약     22000
dtype: int64

In [22]:
a.loc["신풍제약"] = 22000
print(a)

삼성       60000
하이닉스     83000
셀트리온    170000
일동제약     40000
신풍제약     22000
dtype: int64

In [24]:
#원본은 냅둠
a1= a.drop("신풍제약")
print(a1)

삼성       60000
하이닉스     83000
셀트리온    170000
일동제약     40000
dtype: int64

In [29]:
#원본도 지움 a.drop("신풍제약", inplace=True)
print(a)

삼성       60000
하이닉스     83000
셀트리온    170000
일동제약     40000
dtype: int64

In [32]:
# loc를 통한 인덱스 로 값 수정
a.loc["신풍제약"] = 22000 + (22000 *0.3)  
print(a)

삼성        60000
하이닉스      83000
셀트리온     170000
일동제약      40000
신풍제약    28600.0
dtype: object

In [34]:
# 다이렉트로 수정
a["삼성"] = 60000 + 60000 * 0.3
print(a)

삼성      78000.0
하이닉스      83000
셀트리온     170000
일동제약      40000
신풍제약    28600.0
dtype: object

In [38]:
# iloc를 이용한 행번호로 값 수정
a.iloc[1] = 83000 + 83000 * 0.3
print(a)

삼성       78000.0
하이닉스    107900.0
셀트리온      170000
일동제약       40000
신풍제약     28600.0
dtype: object

In [43]:
a.loc["녹십자"] = 130000
print(a)
a.loc["녹십자"] = 130000 + 130000 * 0.3
print(a)
a10 = a.drop("녹십자")
print(a10)

삼성       78000.0
하이닉스    107900.0
셀트리온      170000
일동제약       40000
신풍제약     28600.0
녹십자       130000
dtype: object
삼성       78000.0
하이닉스    107900.0
셀트리온      170000
일동제약       40000
신풍제약     28600.0
녹십자     169000.0
dtype: object
삼성       78000.0
하이닉스    107900.0
셀트리온      170000
일동제약       40000
신풍제약     28600.0
dtype: object

# 시리즈 연산
# 브로드 캐스팅 연산이 시리즈 객체 전체 값에 적용 (반복문 사용 x)
# 사칙연산 인덱스를 기준으로 사칙연산 적용 반복문 사용 x

In [58]:
s=pd.Series([100,200,300])
print(s + 10 )

0    110
1    210
2    310
dtype: int64

In [59]:
high = pd.Series([51500, 51200, 52500, 51500, 51500])
low = pd.Series([50700, 50500, 50500, 50800, 50700])
diff = high-low
print(diff)

0     800
1     700
2    2000
3     700
4     800
dtype: int64

In [66]:
high = pd.Series(data = [51500, 51200, 52500], index = ["5/1","5/2","5/3"])
low = pd.Series(data = [50700, 50500, 50500], index = ["5/1","5/2","5/4"])
print(high)
print(low)
diff = high-low
print(diff)

5/1    51500
5/2    51200
5/3    52500
dtype: int64
5/1    50700
5/2    50500
5/4    50500
dtype: int64
5/1    800.0
5/2    700.0
5/3      NaN
5/4      NaN
dtype: float64

In [67]:
# 비교연산 boolean 타입으로 리턴 
s = pd.Series([100,200,300,400,500])
cond = s > 300
print(cond)

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [68]:
# true false 값을 통해서 true 값만 필터링 가능
s = pd.Series(data = [100,200,300,400,500])
cond = [False,False,False,True,True]
s[cond]

3    400
4    500
dtype: int64

In [70]:
# 비교연산자의 결과 시리즈를 사용하여 인덱싱하면 조건을 만족하는 데이터만 필터링 가능 
s = pd.Series(data = [100,200,300,400,500])
cond = s > 300
s[cond]

3    400
4    500
dtype: int64

In [85]:
시가 = pd.Series([100,200,300,400,500])
종가 = pd.Series([100,300,400,500,600])

조건 = 시가 >= 300 # 100 200 false 300 400 500 true
print(조건)

#시가가 300원 이상인 날에 종가 데이터 가져오기

print(종가[조건])

#조건을 만들고 조건을 시리즈에 넣으면 s[조건] 하면 조건에 해당하는 값들만 필터링 




print("ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ")


a = pd.Series([100,200,300,400,500])
b = pd.Series([100,300,400,500,600])

c = a >= 300
print(c)

print(b[c])

0    False
1    False
2     True
3     True
4     True
dtype: bool
2    400
3    500
4    600
dtype: int64
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
0    False
1    False
2     True
3     True
4     True
dtype: bool
2    400
3    500
4    600
dtype: int64

In [87]:
a = pd.Series([10,200,200,400,600])
b = pd.Series([100,300,400,500,600])
c = b - a >= 100
print(c)
print(b[c])

0    False
1     True
2     True
3     True
4    False
dtype: bool
1    300
2    400
3    500
dtype: int64

In [95]:
# 판다스 and = & or = | not = ~
# 종가 = pd.Series([93000,82400,99100,81000,72300],
#         ['05/14','05/15','05/16','05/17','05/18'])

data = [93000,82400,99100,81000,72300]
index = ['05/14','05/15','05/16','05/17','05/18']
종가 = pd.Series(data = data , index = index)

print(종가)
조건 = (종가 >= 80000) & (종가 < 90000)
종가[조건] # s[인자] 필터링 하면 인자에 해당하는 대상만 필터링
종가[조건].index # 날짜만 구하라 했으므로 날짜=인덱스 니까 인덱스 

#종가.index[[1,3]]

05/14    93000
05/15    82400
05/16    99100
05/17    81000
05/18    72300
dtype: int64

Index(['05/15', '05/17'], dtype='object')

In [96]:
for i in 종가[조건].index:
    print(i)

05/15
05/17

# DataFrame = 2 차원 데이터를 효과적으로 표현한 판다스 자료구조
# DataFrame 생성
# 2차원 표에서 컬럼 단위로 데이터를 표현 컬럼명을 딕셔너리의 key로 데이터는 딕셔너리의 values로 사용

In [97]:
#2차원 표에서 컬럼 단위로 데이터 표현
#세로방향 컬럼방향으로 데이터 표현
from pandas import DataFrame
data = {
    "종가" : [157000, 51300, 68800, 140000],
    "PER" : [39.88, 8.52, 10.03, 228.38],
    "PBR" : [4.38, 1.45, 0.87, 2.16] 
} #key값에 해당하는 종가 per pbr등은 위로 (열로) 

index = ['NAVER', '삼성전자', 'LG전자', '카카오'] #세로로 (행으로)

df = DataFrame(data,index)
print(df)

print("ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ")

           종가     PER   PBR
NAVER  157000   39.88  4.38
삼성전자    51300    8.52  1.45
LG전자    68800   10.03  0.87
카카오    140000  228.38  2.16
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

# 이거 쉬움★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★

In [101]:

data = []
data.append([157000, 39.88, 4.38])
data.append([51300, 8.52, 1.45])
data.append([68800, 10.03, 0.87])
data.append([140000, 228.38, 2.16])

index = ['NAVER', '삼성전자', 'LG전자', '카카오']
columns = ['종가','PER','PBR']

df = DataFrame(data=data,index=index,columns=columns)
print(df)

           종가     PER   PBR
NAVER  157000   39.88  4.38
삼성전자    51300    8.52  1.45
LG전자    68800   10.03  0.87
카카오    140000  228.38  2.16

In [98]:
#2차원 표에서 로우 단위로 데이터를 리스트로 표현
# data,index,columns를 각각 리스트로 표현 

from pandas import DataFrame
data = [
    [157000, 39.88, 4.38],
    [51300, 8.52, 1.45],
    [68800, 10.03, 0.87],
    [140000, 228.38, 2.16]
] 

index = ['NAVER', '삼성전자', 'LG전자', '카카오']
columns = ['종가','PER','PBR']
df = DataFrame(data=data, index=index, columns=columns)
print(df)

           종가     PER   PBR
NAVER  157000   39.88  4.38
삼성전자    51300    8.52  1.45
LG전자    68800   10.03  0.87
카카오    140000  228.38  2.16

In [99]:
#2차원 표에서 로우단위로 데이터를 딕셔너리로 표현

from pandas import DataFrame

data = [
    {"종가": 157000, "PER":39.88, "PBR":4.38},
    {"종가": 51300, "PER":8.52, "PBR":1.45},
    {"종가": 68800, "PER":10.03, "PBR":0.87},
    {"종가": 140000, "PER":228.38, "PBR":2.16}
    # 딕셔너리의 각각의 key 값이 columns 명으로 인식 됨
        
]

index = ['NAVER', '삼성전자', 'LG전자', '카카오']
df = DataFrame(data=data, index=index) # 딕셔너리의 각각의 key 값이 columns 명으로 인식 되어 columns = columns 를 쓸 필요 없음 
print(df)

           종가     PER   PBR
NAVER  157000   39.88  4.38
삼성전자    51300    8.52  1.45
LG전자    68800   10.03  0.87
카카오    140000  228.38  2.16

In [100]:
#자주 쓸 방법 
data = [] #데이타 라는 빈리스트를 만들어서
data.append([980,990,920,930]) #리스트 값들을 data에 추가 해주면 2차원리스트가 되고
data.append([200,300,180,180])
data.append([300,500,300,400])
index = ['비트','리플','이더'] # 세로
columns = ['시가','고가','저가','종가'] #가로 
#2차원 리스트로 데이터프레임 생성 하는 방법은 data값 index값 columns 값이 필요

df = DataFrame(data=data,index=index,columns=columns)
print(df)

     시가   고가   저가   종가
비트  980  990  920  930
리플  200  300  180  180
이더  300  500  300  400

# DataFrame 인덱싱 슬라이싱
# 대괄호['컬럼명']을 통해서 단일 컬럼 선택 가능
# df['종가']
# 컬럼을 표현하는 시리즈 타입의 객체 index 회사 이름 value는 종가

In [12]:
import pandas as pd

data = []
data.append([157000,39.88,4.38])
data.append([51300,8.52,1.45])
data.append([68800,10.03,0.87])
data.append([140000,228.38,2.16])

index = ['NAVER', '삼성전자', 'LG전자', '카카오']
columns = ['종가','PER','PBR']

df = pd.DataFrame(data=data,index=index,columns=columns)
print(df)

df['종가'] # 한줄로 표현 되기 때문에 Series임 이 때 왼쪽에 회사 이름이 key값 오른쪽에 숫자가 value 값 
print(df['PER'])
print(df['PBR'])

           종가     PER   PBR
NAVER  157000   39.88  4.38
삼성전자    51300    8.52  1.45
LG전자    68800   10.03  0.87
카카오    140000  228.38  2.16
NAVER     39.88
삼성전자       8.52
LG전자      10.03
카카오      228.38
Name: PER, dtype: float64
NAVER    4.38
삼성전자     1.45
LG전자     0.87
카카오      2.16
Name: PBR, dtype: float64

# 멀티 컬럼 
# df[['컬럼1','컬럼2']]

In [11]:
df[['종가','PER']]

           종가     PER
NAVER  157000   39.88
삼성전자    51300    8.52
LG전자    68800   10.03
카카오    140000  228.38

In [13]:
df[['PER','PBR']]

          PER   PBR
NAVER   39.88  4.38
삼성전자     8.52  1.45
LG전자    10.03  0.87
카카오    228.38  2.16

# [] 컬럼 단위(세로만 출력)
# 로우 단위 출력 loc 문자(인덱스) iloc 숫자(행번호 )

In [22]:
df.loc['삼성전자']
df.iloc[2]

df.loc[['삼성전자','카카오']]
df.iloc[[0,2]]

df.loc["NAVER":"LG전자"]
df.iloc[0:2]

           종가    PER   PBR
NAVER  157000  39.88  4.38
삼성전자    51300   8.52  1.45

# 특정 값 가져오기
# df.iloc[행번호,행번호] df.loc['인덱스','컬럼명']

In [23]:
from pandas import DataFrame

data = []
data.append(['3R',1510,7.36])
data.append(['3SOFT',1790,1.65])
data.append(['ACTS',1185,1.28])

index = ['037730','036360','005760']
columns = ['종목명','현재가','등락률']

df = DataFrame(data=data, index=index, columns=columns)
df

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [27]:
df.iloc[1,1]
df.loc['036360','등락률']

1.65

In [28]:
df.iloc[0,2]

7.36

# 영역 가져오기
# df.iloc[[행번호리스트,열번호리스트]]
# df.loc[['인덱스리스트','컬럼명리스트']]

In [40]:
df.iloc[[1,2],[1,2]] #앞쪽은 행번호 0부터 1번까지 범위 뒤쪽은 열번호 0부터1번까지 범위 영역 가져옴 
df.iloc[0:2,0:2]
df.iloc[2:4,2:4]

         등락률
005760  1.28

In [35]:
df.loc[['037730','036360'],['종목명','현재가']] #앞쪽은 행 범위 037730부터 036360까지 범위 뒤쪽은 종목명 현재가 까지 범위 영역 가져옴

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

In [36]:
df.loc[['036360','005760'],['현재가','등락률']]

         현재가   등락률
036360  1790  1.65
005760  1185  1.28

In [42]:
df.loc[["037730","036360"], ['종목명','현재가']]

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

In [43]:
df

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [47]:
df.iloc[[0,1],[0,2]]

          종목명   등락률
037730     3R  7.36
036360  3SOFT  1.65

In [48]:
df.iloc[[1,2],[1,2]]

         현재가   등락률
036360  1790  1.65
005760  1185  1.28

In [49]:
df.loc[['037730','036360'],['종목명','등락률']]

          종목명   등락률
037730     3R  7.36
036360  3SOFT  1.65

# 컬럼 추가
# df['컬럼명'] = 시리즈 객체
# 비트코인 일봉 데이터를 얻어온 후 각 거래일의 변동(range) 컬럼 추가하기

In [58]:
import pyupbit
#최근 거래일 기준 200일 데이터를 얻어옴
df = pyupbit.get_ohlcv("KRW-BTC") #"KRW-BTC" 한국 비트코인의 일봉 데이터를 GET해서 df에 넣음 
# OHLCV (open, high, low, close, volume)로 당일 시가, 고가, 저가, 종가, 거래량에 대한 데이터를 이야기 합니다. 
df['range'] = df['high'] - df['low'] #df에 range라는 컬럼 추가(가로 마지막) 
df

,open,high,low,close,volume,value,range
2022-05-15 09:00:00,39967000.0,41000000.0,39270000.0,40906000.0,4277.655034,1.706726e+11,1730000.0
2022-05-16 09:00:00,40902000.0,40940000.0,38620000.0,39256000.0,5678.833853,2.243704e+11,2320000.0
2022-05-17 09:00:00,39260000.0,39900000.0,38416000.0,39259000.0,5356.753182,2.105359e+11,1484000.0
2022-05-18 09:00:00,39260000.0,39464000.0,37001000.0,37099000.0,6367.452230,2.430866e+11,2463000.0
2022-05-19 09:00:00,37100000.0,39085000.0,37000000.0,38780000.0,6407.341868,2.429746e+11,2085000.0
...,...,...,...,...,...,...,...
2022-11-26 09:00:00,22677000.0,22862000.0,22605000.0,22660000.0,2148.775806,4.886589e+10,257000.0
2022-11-27 09:00:00,22646000.0,22774000.0,22605000.0,22646000.0,1989.051138,4.517556e+10,169000.0
2022-11-28 09:00:00,22661000.0,22690000.0,22217000.0,22339000.0,3579.090571,8.021448e+10,473000.0
2022-11-29 09:00:00,22329000.0,22617000.0,22155000.0,22417000.0,2523.908210,5.664776e+10,462000.0
2022-11-30 09:00:00,22417000.0,23113000.0,22415000.0,22886000.0,2813.681195,6.442796e+10,698000.0

In [59]:
df.head() #앞에 5개만 보고 싶으면

,open,high,low,close,volume,value,range
2022-05-15 09:00:00,39967000.0,41000000.0,39270000.0,40906000.0,4277.655034,1.706726e+11,1730000.0
2022-05-16 09:00:00,40902000.0,40940000.0,38620000.0,39256000.0,5678.833853,2.243704e+11,2320000.0
2022-05-17 09:00:00,39260000.0,39900000.0,38416000.0,39259000.0,5356.753182,2.105359e+11,1484000.0
2022-05-18 09:00:00,39260000.0,39464000.0,37001000.0,37099000.0,6367.452230,2.430866e+11,2463000.0
2022-05-19 09:00:00,37100000.0,39085000.0,37000000.0,38780000.0,6407.341868,2.429746e+11,2085000.0

# 컬럼 삭제
# df.drop('컬럼명',axis=1)
# 원본은 그대로 유지되고 컬럼이 삭제된 새로운 데이터프레임 객체가 리턴됨

In [63]:
df = pyupbit.get_ohlcv("KRW-BTC")

df2 = df.drop('volume',axis=1) #axis 0은 low axis 1은 컬럼 
df2
df3 = df.drop('2022-05-15 09:00:00',axis=0)
df3
#df.drop('volume',axis=1,inplace=True) 원본도 삭제함

,open,high,low,close,volume,value
2022-05-16 09:00:00,40902000.0,40940000.0,38620000.0,39256000.0,5678.833853,2.243704e+11
2022-05-17 09:00:00,39260000.0,39900000.0,38416000.0,39259000.0,5356.753182,2.105359e+11
2022-05-18 09:00:00,39260000.0,39464000.0,37001000.0,37099000.0,6367.452230,2.430866e+11
2022-05-19 09:00:00,37100000.0,39085000.0,37000000.0,38780000.0,6407.341868,2.429746e+11
2022-05-20 09:00:00,38781000.0,39298000.0,37267000.0,37762000.0,5865.610376,2.252696e+11
...,...,...,...,...,...,...
2022-11-26 09:00:00,22677000.0,22862000.0,22605000.0,22660000.0,2148.775806,4.886589e+10
2022-11-27 09:00:00,22646000.0,22774000.0,22605000.0,22646000.0,1989.051138,4.517556e+10
2022-11-28 09:00:00,22661000.0,22690000.0,22217000.0,22339000.0,3579.090571,8.021448e+10
2022-11-29 09:00:00,22329000.0,22617000.0,22155000.0,22417000.0,2523.908210,5.664776e+10
2022-11-30 09:00:00,22417000.0,23113000.0,22415000.0,22882000.0,2817.849159,6.452335e+10

# 시계열 데이터와 인덱스
# 시계열 데이터는 인덱스가 날짜와 시간으로 구성됨
# 문자열로 표현된 날짜와 시간을 Datetimeindex 타입으로 변환해서 사용해야 함
# pd.to_datetime(date)

In [67]:
import pandas as pd

date = "2022-10-04"
date1 = ["2022-10-04","2022-10-05"]
dt = pd.to_datetime(date)
dt1 = pd.to_datetime(date1)
print(dt) #단일이면 타임스탬프
print(dt1) #리스트면 데이트타임인덱스
dt1[0] #하나 불러오면 타임스탬프

2022-10-04 00:00:00
DatetimeIndex(['2022-10-04', '2022-10-05'], dtype='datetime64[ns]', freq=None)

Timestamp('2022-10-04 00:00:00')

# 로우 추가
# df.loc[인덱스]=데이터

In [75]:
df = pyupbit.get_ohlcv("KRW-BTC")
df['range'] = df['high'] - df['low']
df
df.drop(['range','volume'], axis=1, inplace=True)
df

,open,high,low,close,value
2022-05-15 09:00:00,39967000.0,41000000.0,39270000.0,40906000.0,1.706726e+11
2022-05-16 09:00:00,40902000.0,40940000.0,38620000.0,39256000.0,2.243704e+11
2022-05-17 09:00:00,39260000.0,39900000.0,38416000.0,39259000.0,2.105359e+11
2022-05-18 09:00:00,39260000.0,39464000.0,37001000.0,37099000.0,2.430866e+11
2022-05-19 09:00:00,37100000.0,39085000.0,37000000.0,38780000.0,2.429746e+11
...,...,...,...,...,...
2022-11-26 09:00:00,22677000.0,22862000.0,22605000.0,22660000.0,4.886589e+10
2022-11-27 09:00:00,22646000.0,22774000.0,22605000.0,22646000.0,4.517556e+10
2022-11-28 09:00:00,22661000.0,22690000.0,22217000.0,22339000.0,8.021448e+10
2022-11-29 09:00:00,22329000.0,22617000.0,22155000.0,22417000.0,5.664776e+10
2022-11-30 09:00:00,22417000.0,23113000.0,22415000.0,22819000.0,6.504435e+10

In [80]:
# df 조회 결과 가장 마지막 날 20221130 다음날인 1201을 만들어보자
date = "2022-12-01 09:00:00" #날짜를 타임스탬프 형식으로 써서 date에 집어넣음
dt = pd.to_datetime(date) #date를 시계열데이터로 바꿔줌 (pd.to_datetime)
dt

Timestamp('2022-12-01 09:00:00')

In [81]:
# 2022-12-01은 만들어졌다 다음은 빈 데이터를 채워보자
df.loc[dt]=[100,110,120,130,150] #dt에 100 110 120 130 150을 채워서 df에 넣는다 
df # 마지막날인 11-30 다음 12-01이 만들어졌고 입력한 데이터도 잘 출력 된다.

,open,high,low,close,value
2022-05-15 09:00:00,39967000.0,41000000.0,39270000.0,40906000.0,1.706726e+11
2022-05-16 09:00:00,40902000.0,40940000.0,38620000.0,39256000.0,2.243704e+11
2022-05-17 09:00:00,39260000.0,39900000.0,38416000.0,39259000.0,2.105359e+11
2022-05-18 09:00:00,39260000.0,39464000.0,37001000.0,37099000.0,2.430866e+11
2022-05-19 09:00:00,37100000.0,39085000.0,37000000.0,38780000.0,2.429746e+11
...,...,...,...,...,...
2022-11-27 09:00:00,22646000.0,22774000.0,22605000.0,22646000.0,4.517556e+10
2022-11-28 09:00:00,22661000.0,22690000.0,22217000.0,22339000.0,8.021448e+10
2022-11-29 09:00:00,22329000.0,22617000.0,22155000.0,22417000.0,5.664776e+10
2022-11-30 09:00:00,22417000.0,23113000.0,22415000.0,22819000.0,6.504435e+10
2022-12-01 09:00:00,100.0,110.0,120.0,130.0,1.500000e+02

# 로우 삭제
# df.drop(로우 인덱스, axis = 0) 원본은 그대로 유지되고 row가 삭제된 데이터프렝미 객체가 리턴됨
# df.drop(로우 인덱스, axis = 0 replace=True) #완전삭제

In [82]:
df.tail() # 가장 최근 날짜 5개

,open,high,low,close,value
2022-11-27 09:00:00,22646000.0,22774000.0,22605000.0,22646000.0,4.517556e+10
2022-11-28 09:00:00,22661000.0,22690000.0,22217000.0,22339000.0,8.021448e+10
2022-11-29 09:00:00,22329000.0,22617000.0,22155000.0,22417000.0,5.664776e+10
2022-11-30 09:00:00,22417000.0,23113000.0,22415000.0,22819000.0,6.504435e+10
2022-12-01 09:00:00,100.0,110.0,120.0,130.0,1.500000e+02

In [83]:
df.index[-1] # 지울값은 마지막에 있다

Timestamp('2022-12-01 09:00:00')

In [87]:
df.drop(df.index[-1],axis = 0,inplace = True)

In [88]:
df

,open,high,low,close,value
2022-05-15 09:00:00,39967000.0,41000000.0,39270000.0,40906000.0,1.706726e+11
2022-05-16 09:00:00,40902000.0,40940000.0,38620000.0,39256000.0,2.243704e+11
2022-05-17 09:00:00,39260000.0,39900000.0,38416000.0,39259000.0,2.105359e+11
2022-05-18 09:00:00,39260000.0,39464000.0,37001000.0,37099000.0,2.430866e+11
2022-05-19 09:00:00,37100000.0,39085000.0,37000000.0,38780000.0,2.429746e+11
...,...,...,...,...,...
2022-11-26 09:00:00,22677000.0,22862000.0,22605000.0,22660000.0,4.886589e+10
2022-11-27 09:00:00,22646000.0,22774000.0,22605000.0,22646000.0,4.517556e+10
2022-11-28 09:00:00,22661000.0,22690000.0,22217000.0,22339000.0,8.021448e+10
2022-11-29 09:00:00,22329000.0,22617000.0,22155000.0,22417000.0,5.664776e+10
2022-11-30 09:00:00,22417000.0,23113000.0,22415000.0,22819000.0,6.504435e+10

# 브로드캐스팅
# 하나의 연산이 한 컬럼의 모든 데이터에 적용됨

In [96]:
import pyupbit
df = pyupbit.get_ohlcv("KRW-XRP")
print(df)
df['open'] + 100 #특정 컬럼에 +100 하면 그 세로줄이 모두 적용됨 시가에 100원을 더해라

                      open   high    low  close        volume         value
2022-05-15 09:00:00  568.0  587.0  552.0  586.0  2.851689e+08  1.614677e+11
2022-05-16 09:00:00  586.0  586.0  544.0  557.0  3.505526e+08  1.961059e+11
2022-05-17 09:00:00  557.0  569.0  544.0  564.0  2.977029e+08  1.666707e+11
2022-05-18 09:00:00  564.0  569.0  522.0  523.0  3.119279e+08  1.694536e+11
2022-05-19 09:00:00  523.0  544.0  506.0  539.0  3.486226e+08  1.837846e+11
...                    ...    ...    ...    ...           ...           ...
2022-11-26 09:00:00  558.0  568.0  543.0  545.0  1.737511e+08  9.660191e+10
2022-11-27 09:00:00  545.0  566.0  544.0  546.0  2.075014e+08  1.148883e+11
2022-11-28 09:00:00  545.0  549.0  518.0  535.0  2.668986e+08  1.412097e+11
2022-11-29 09:00:00  535.0  550.0  526.0  543.0  2.042028e+08  1.094031e+11
2022-11-30 09:00:00  542.0  555.0  540.0  541.0  1.261943e+08  6.904036e+10

[200 rows x 6 columns]

2022-05-15 09:00:00    668.0
2022-05-16 09:00:00    686.0
2022-05-17 09:00:00    657.0
2022-05-18 09:00:00    664.0
2022-05-19 09:00:00    623.0
                       ...
2022-11-26 09:00:00    658.0
2022-11-27 09:00:00    645.0
2022-11-28 09:00:00    645.0
2022-11-29 09:00:00    635.0
2022-11-30 09:00:00    642.0
Name: open, Length: 200, dtype: float64

# 데이터 프레임 필터링

In [98]:
import pyupbit
df = pyupbit.get_ohlcv("KRW-XRP")
df

                      open   high    low  close        volume         value
2022-05-15 09:00:00  568.0  587.0  552.0  586.0  2.851689e+08  1.614677e+11
2022-05-16 09:00:00  586.0  586.0  544.0  557.0  3.505526e+08  1.961059e+11
2022-05-17 09:00:00  557.0  569.0  544.0  564.0  2.977029e+08  1.666707e+11
2022-05-18 09:00:00  564.0  569.0  522.0  523.0  3.119279e+08  1.694536e+11
2022-05-19 09:00:00  523.0  544.0  506.0  539.0  3.486226e+08  1.837846e+11
...                    ...    ...    ...    ...           ...           ...
2022-11-26 09:00:00  558.0  568.0  543.0  545.0  1.737511e+08  9.660191e+10
2022-11-27 09:00:00  545.0  566.0  544.0  546.0  2.075014e+08  1.148883e+11
2022-11-28 09:00:00  545.0  549.0  518.0  535.0  2.668986e+08  1.412097e+11
2022-11-29 09:00:00  535.0  550.0  526.0  543.0  2.042028e+08  1.094031e+11
2022-11-30 09:00:00  542.0  555.0  540.0  541.0  1.263642e+08  6.913238e+10

[200 rows x 6 columns]

In [99]:
#종가가 시가보다 높았던 거래일만 필터링 해보기 
cond = df['close'] > df['open'] # 특정거래일에 100원에 시작해서 120원에 끝났다 하면 20원 이득
cond

2022-05-15 09:00:00     True
2022-05-16 09:00:00    False
2022-05-17 09:00:00     True
2022-05-18 09:00:00    False
2022-05-19 09:00:00     True
                       ...
2022-11-26 09:00:00    False
2022-11-27 09:00:00     True
2022-11-28 09:00:00    False
2022-11-29 09:00:00     True
2022-11-30 09:00:00    False
Length: 200, dtype: bool

In [101]:
df.head(n=2) #가장 오래된 거 n=2면 두개만 보여짐

                      open   high    low  close        volume         value
2022-05-15 09:00:00  568.0  587.0  552.0  586.0  2.851689e+08  1.614677e+11
2022-05-16 09:00:00  586.0  586.0  544.0  557.0  3.505526e+08  1.961059e+11

In [102]:
df[cond] #cond 종가 > 시가가 True인 값만 뽑아줌 
# 200개의 데이터중에 105개가 True라서 출력 됐으므로 105일 상승 했다.

                      open   high    low  close        volume         value
2022-05-15 09:00:00  568.0  587.0  552.0  586.0  2.851689e+08  1.614677e+11
2022-05-17 09:00:00  557.0  569.0  544.0  564.0  2.977029e+08  1.666707e+11
2022-05-19 09:00:00  523.0  544.0  506.0  539.0  3.486226e+08  1.837846e+11
2022-05-21 09:00:00  532.0  539.0  522.0  534.0  1.450562e+08  7.715919e+10
2022-05-22 09:00:00  534.0  547.0  531.0  543.0  1.524037e+08  8.211777e+10
...                    ...    ...    ...    ...           ...           ...
2022-11-23 09:00:00  523.0  529.0  514.0  528.0  2.319457e+08  1.211662e+11
2022-11-24 09:00:00  527.0  555.0  511.0  550.0  3.124352e+08  1.661327e+11
2022-11-25 09:00:00  550.0  575.0  534.0  558.0  3.822874e+08  2.134330e+11
2022-11-27 09:00:00  545.0  566.0  544.0  546.0  2.075014e+08  1.148883e+11
2022-11-29 09:00:00  535.0  550.0  526.0  543.0  2.042028e+08  1.094031e+11

[105 rows x 6 columns]

# 컬럼시프트 동일 컬럼에서 위 아래로 뺄 때
데이터프레임 연산은 기본적으로 같은 인덱스에 있는 컬럼과 컬럼사이에 적용됨
 
df['high'] - df['low']

In [111]:
df.drop(['volume','value',], axis=1, inplace=True)

KeyError: "['volume', 'value'] not found in axis"

# 컬럼 위 아래를 빼는 건 판다스에 없기 때문에 따로 컬럼을 하나 만들어서 컬럼-컬럼을 해준다

In [127]:
#특정 컬럼의 데이터를 아래로 하나 씩 이동
df['시프트']=df['close'].shift(1) #close_shift1이라는 컬럼을 하나 만들고 close 데이터를 하나씩 밀려서 씀 
# shift(2)면 2칸을 내리고 shift(-1)이면 한칸 위로 올림  
df
#df.drop('close_shift1',axis = 1 ,inplace = True)
df

                      open   high    low  close  last    시프트
2022-05-15 09:00:00  568.0  587.0  552.0  586.0   NaN    NaN
2022-05-16 09:00:00  586.0  586.0  544.0  557.0  29.0  586.0
2022-05-17 09:00:00  557.0  569.0  544.0  564.0  -7.0  557.0
2022-05-18 09:00:00  564.0  569.0  522.0  523.0  41.0  564.0
2022-05-19 09:00:00  523.0  544.0  506.0  539.0 -16.0  523.0
...                    ...    ...    ...    ...   ...    ...
2022-11-26 09:00:00  558.0  568.0  543.0  545.0  13.0  558.0
2022-11-27 09:00:00  545.0  566.0  544.0  546.0  -1.0  545.0
2022-11-28 09:00:00  545.0  549.0  518.0  535.0  11.0  546.0
2022-11-29 09:00:00  535.0  550.0  526.0  543.0  -8.0  535.0
2022-11-30 09:00:00  542.0  555.0  540.0  541.0   2.0  543.0

[200 rows x 6 columns]

In [130]:
# df에 last 라는 컬럼을 하나 만듬 그 내용은  close - 시프트 전날종가 - 당일종가 
df['last'] = df['close'] - df['시프트']

In [131]:
df
#last 값이 음수면 close + last last 값이 양수면 close + 양수 시프트 값이 쉽게 나온다

                      open   high    low  close  last    시프트
2022-05-15 09:00:00  568.0  587.0  552.0  586.0   NaN    NaN
2022-05-16 09:00:00  586.0  586.0  544.0  557.0 -29.0  586.0
2022-05-17 09:00:00  557.0  569.0  544.0  564.0   7.0  557.0
2022-05-18 09:00:00  564.0  569.0  522.0  523.0 -41.0  564.0
2022-05-19 09:00:00  523.0  544.0  506.0  539.0  16.0  523.0
...                    ...    ...    ...    ...   ...    ...
2022-11-26 09:00:00  558.0  568.0  543.0  545.0 -13.0  558.0
2022-11-27 09:00:00  545.0  566.0  544.0  546.0   1.0  545.0
2022-11-28 09:00:00  545.0  549.0  518.0  535.0 -11.0  546.0
2022-11-29 09:00:00  535.0  550.0  526.0  543.0   8.0  535.0
2022-11-30 09:00:00  542.0  555.0  540.0  541.0  -2.0  543.0

[200 rows x 6 columns]

In [132]:
df['close'].shift(-1) #5월16일에 있던 557이 5월15일 557로 한칸 위로 올라 갔다

2022-05-15 09:00:00    557.0
2022-05-16 09:00:00    564.0
2022-05-17 09:00:00    523.0
2022-05-18 09:00:00    539.0
2022-05-19 09:00:00    531.0
                       ...
2022-11-26 09:00:00    546.0
2022-11-27 09:00:00    535.0
2022-11-28 09:00:00    543.0
2022-11-29 09:00:00    541.0
2022-11-30 09:00:00      NaN
Name: close, Length: 200, dtype: float64